
  a

  {
    color:black;
    text-decoration: none;
  }
body{
  margin:0px;
}

  h1{
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px;
    margin:0px;
    display:grid;
    grid-template-columns: 1fr 150px;
    padding-left: 175px;
  }

  #grid ol{
    border-right: 1px solid gray;
    width: 210px;
    margin : 0px;
    padding : 20px;
    padding-left: 40px;
    padding-right: 10px;
  }

#grid{
  display:grid;
  grid-template-columns: 275px 1fr;
}
#grid #article{
  padding-left: 10px;
}

@media(max-width:800px){
  #grid{
    display: block;
  }
  #grid ol{

    border-right: none;
  }
  h1{
    text-align: left;
    padding: :20px;
    padding-left: 40px;
    padding-bottom: 0px;
    border-bottom: none;
  }
}


}
